In [3]:
import pandas as pd

df_pred = pd.read_csv("predictions.csv")
df_user = pd.read_csv("users.csv")

In [4]:
df_pred

,loan_amount,user_id,income_annum,loan_term,self_employed,id,dependents,cibil_score,education,loan_status,timestamp
0,1000.0,6,1.000000e+09,2500.0,True,1,3.0,950.0,True,True,2025-06-24 09:51:39.432556

In [5]:
df_user

                                       password_hash      login  user_id
0  $2b$12$VydlFCvjaXLz08jqIIanueoPWavq0rN7GaaKhEM...     string        1
1  $2b$12$DYpro66Afh6/EP4ffXtuwOxTW9Bi.O2VACUY8yu...   swaga322        3
2  $2b$12$U9s/f5L8vD3kzHu.9gshhuUXaWO6Shbpu.gxhTs...    slon123        5
3  $2b$12$b7Kt42qvtpH5Fc7FMBfycu/jzCniblBxpcaKtXE...   swaga123        6
4  $2b$12$TI30kIHm4NpuYP.1SJi.lOCdbIHSOQVsCjXTDEI...  lox123123        8
5  $2b$12$CL0Ln4uGzTyXPLIHO72Y3.UuTKraHnmgQBFFYBV...       bot1       10
6  $2b$12$lgFjnB9BU.LGe8Hczx6IlucuAW5j86w7SA2kCFG...      bot12       11